h1{
    text-align: center;
    font-size: 8em;
    color:#2D2A2B;
    margin-block: .25px;
}
footer{
    color:white;
}
#jump {
    color:#2D2A2B;
    margin: auto;
    left: 0px;
    right: 0px;
    display: block;
    font-size: 2em;
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
    margin-left:0;
    margin-right:2em;
    background: lavender;
}
h2, h3 {
    font-size: 2em
}
ul {
    display:flex;
}
ul li {
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
    margin-left:0;
    margin-right:2em;
    margin: auto;
}
ul li a {
    background: white;
    border-radius: 5%;
    text-decoration: none;
    padding: 0.5em;
    display: block;
    color: #2D2A2B;
    
}
ul li a:hover {
    background: lavender;
    text-decoration:underline;
}
#contact {
    background: white;
    border-radius:50%;
    text-decoration: none;
    display: block;
    color: #2D2A2B;
}
#biotitle {
    color: white;
}
body {
    background-color: #3C55A5;
}

#sectionindex {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}
#articleindex {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    margin-top: 50px;
}
#bio {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    margin-top: -20px;
}
.indextable {
    table-layout: auto;
    width: 100%;
    color:#3C55A5;
    border: 1px #2D2A2B;
}




main {
    background-color: white;
}
.logoimage {
    height: 100px;
    width:auto;
    image-rendering: auto;
    border-radius: 5%;
}
#artworkmain {
    border-color: black;
    border-style: solid;
    border-width: 5px;
}
.logoimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}
.profilepic {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.image3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
figcaption {
    text-align: center;
    color: #2d2a2b;
}
