h1{
    text-align: center;
    font-size: 8em;
    color:#2D2A2B;
    margin-block: .25px;
}
body {
    background-color: #3C55A5;
}
main {
    background-color: white;
}
.logoimage {
    height: 100px;
    width:auto;
    image-rendering: auto;
}
#artworkmain {
    border-color: black;
    border-style: solid;
    border-width: 5px;
}
.image2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.image3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
