h1{
    text-align: center;
    font-size: 8em;
    color:blue;
    margin-block: .25px;
}
body {
    background-color: darkturquoise;
}
main {
    background-color: #8B0000;
}
.logoimage {
    height: 100px;
    width:auto;
    image-rendering: auto;
}
#artworkmain {
    border-color: aquamarine;
    border-style:dotted;
    border-width: 5px;
}
